<html>
<head>
    <title>Skill's - <%= result[0].skill_name %></title>
</head>
<body>
    <h1>Skill's</h1>
    <ul>
        <li>Skill ID: <%= result[0].skill_id%></li>
        <li>Skill Name: <%= result[0].name %></li>
        <li>Description: <%= result[0].description %></li>
    </ul>
</body>

</html>