<html>
<head>
    <title>Add New skill</title>
</head>
<body>
<h1>Add New skill</h1>
<form action="/skill/insert" method="get">
    Skill: <input id="name" name="name" type="text" />
    <br />
    <br />
    Description: <input id="description" name="description" type="text" />


    <input type="submit" />

</form>
</body>

</html>
</html>
